div.form {
  display: flex;
  padding: 12px;
}

div.form input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

div.todo-insert {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

div.todo-insert:hover {
  background-color: #3bc9db;
}
