div.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.9s;
}
div.todo-item:hover {
  background-color: #e3fafc;
}

div.delete-item {
  margin-right: 1rem;
  color: red;
  font-weight: 600;
  opacity: 0;
}

div.todo-item:hover div.delete-item {
  opacity: 1;
}

div.checked {
  text-decoration: line-through;
  color: #abd5bd;
}
